{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1><br>

    <table class="record_properties">
        <tbody>
            <tr>
                <th></th>
                <td>{{ entity.text }}</td>
            </tr>
        </tbody>
    </table>
    <br><form action="{{ path('_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="button">Удалить</button>
        </form>
    <br><a href="{{ path('') }}">На главную</a>
{% endblock %} 
